{% extends 'base.html' %}
<!-- 베이스를 가져와서 구역을 선언해서 그 구역안에서는 원하는 대로 바꿀 수 있도록
    우리가 블럭 안에 다시 넣어주는 것

-->
{% block content %}

    <section>
        <div  style="margin: 2rem; text-align: center">
            <h1>Method</h1>

{#            post로 보내려면 form을 열어줘야 해#}
            <form action="/accountapp/hello_world/" method="post">
{#               CSRF 토큰을 만드러야 해#}
                {% csrf_token %}
                <input name="input_text" type="text">
                <input type="submit" class="btn btn-dark rounded-pill">
            </form>
            <h3>{{ new_hello_world.text }}</h3>

            {% for new_hello_world in new_hello_world_list %}
                <h3>{{ new_hello_world.text }}</h3>
            {% endfor %}





        </div>
    </section>
{% endblock %}

