<section>
    <div style = "text-align: center; ">
        <div style="margin: 2rem 0"> <!-- 2rem은 상하 0은 좌우  -->
            <h1 style="font-family: 'Otomanopee One', sans-serif;">With Park django Project</h1>
                                        {# font가 안될때 2차적으로 sans-serif를 쓰라고 하는거야   #}
        </div>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#" style="font-family: 'Otomanopee One', sans-serif;">Navbar</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"  style="font-family: 'Otomanopee One', sans-serif;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"  style="font-family: 'Otomanopee One', sans-serif;">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"  style="font-family: 'Otomanopee One', sans-serif;">Pricing</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section>