<section>
    <div class="header_box">
        <div class="header_logo">
            <h1>With Park django Project</h1>
                                        {# font가 안될때 2차적으로 sans-serif를 쓰라고 하는거야   #}
        </div>
        <div class="header_button">
            <span>nav1</span>
            <span>nav2</span>
            {#  로그인 가는 버튼  / 로그인을 하면 안보이게 해야 하고#}
            {#  분기문을 쓰자  유저객체에 접근해서 로그인 여부를 확인하는 메소드를 호출 #}
            {% if not user.is_authenticated %}
                <span>
                    <a href="{% url 'accountapp:login' %}">Login</a>
                </span>
                {# 회원가입 #}
                <span>
                    <a href="{% url 'accountapp:create' %}">Join</a>
                </span>

            {% else %}

                <span>
                    <a href="{% url 'accountapp:logout' %}">Logout</a>
                </span>

            {% endif %}
        </div>
    </div>
</section>